Server-master/myworld/src/service_svr/ws9c.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UseCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pass9" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="game" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="areaId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serverId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="roleId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="roleName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isSendByClient" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UseCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UseCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCodeDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="game" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="areaId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serverId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCodeDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCodeDetailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UseCodeSoapIn">
    <wsdl:part name="parameters" element="tns:UseCode" />
  </wsdl:message>
  <wsdl:message name="UseCodeSoapOut">
    <wsdl:part name="parameters" element="tns:UseCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetCodeDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetCodeDetail" />
  </wsdl:message>
  <wsdl:message name="GetCodeDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetCodeDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="GameExchangeSoap">
    <wsdl:operation name="UseCode">
      <wsdl:input message="tns:UseCodeSoapIn" />
      <wsdl:output message="tns:UseCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCodeDetail">
      <wsdl:input message="tns:GetCodeDetailSoapIn" />
      <wsdl:output message="tns:GetCodeDetailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GameExchangeSoap" type="tns:GameExchangeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UseCode">
      <soap:operation soapAction="http://tempuri.org/UseCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodeDetail">
      <soap:operation soapAction="http://tempuri.org/GetCodeDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="GameExchange">
    <wsdl:port name="GameExchangeSoap" binding="tns:GameExchangeSoap">
      <soap:address location="http://192.168.0.2/GameExchange.asmx" />
    </wsdl:port>

  </wsdl:service>
</wsdl:definitions>